.container {
  max-width: 1200px;
}

.carousel-caption h5 {
  font-size: 2rem;
}

.carousel-caption p {
  font-size: 1.2rem;
}

.card {
  margin-bottom: 30px;
}

.list-group-item {
  margin-bottom: 10px;
}
